.comment-modal body{
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
  }
  
  .comment-modal .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .comment-modal .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .comment-modal .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .comment-modal .container img {
    float: left;
    margin-right: 20px;
    height: 64px;
    width: 64px;
    border-radius: 50%;
  }
  
  .comment-modal .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .comment-modal .time-right {
    float: right;
    color: #aaa;
  }
  
  .comment-modal .time-left {
    float: left;
    color: #999;
  }

 

 .comment-modal .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }

  .open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: center;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: center;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  width: 100%;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
#More
{	
	position: absolute;
	left:500px;
	margin-top:-30px;
	
}
.name{
	margin-left:50px;
	font-size:14px;
}
.intro{
	margin-top:90px;
	background:red;
}