<!DOCTYPE html>
<html>
<title>Forum Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,800" rel="stylesheet">
<link rel="stylesheet" href="style.css">
<style>
  body,h1,h2,h3,h4,h5 {font-family: "OpenSan", sans-serif}
</style>

<body class="w3-light-grey">

  <!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
  <div class="w3-content" style="max-width:1200px">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
      <p>Show us your opinions about</p>
      <h1><b>iphone Xs</b></h1>
    </header>

    <!-- Grid -->
    <div class="w3-row">

      <!-- Blog entries -->
      <div class="w3-col l8 s12">
        <!-- Blog entry -->
        <div class="w3-card-4 w3-margin w3-white">
          <img src="images/qc.jpg" alt="Nature" style="width:100%">
          <div class="w3-container">
            <h3><b>Is QuickCharge technology exist in this phone ?</b></h3>
            <h5><span class="w3-opacity">jan 7, 2019</span></h5>
          </div>

          <div class="w3-container">
            <p>I wonder if Apple has put the Qualcomm QuickCharge 3.0 on iphone Xs or something similar ? </p>
            <div class="w3-row">
              <div class="w3-col m8 s12">
                <p><button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-padding-large w3-white w3-border"><b>READ
                      MORE »</b></button></p>
                <div id="id01" class="w3-modal">
                  <div class="w3-modal-content w3-animate-zoom">
                    <div class="w3-container comment-modal">
                      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>

                      <body>



                        <h2>TITLE HEADING</h2>
                        <h5>Title description, Dec 7, 2017</h5>
                        <div class="fakeimg" style="height:200px;">Image</div>
                        <p>Some text..</p>
                        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                          quis nostrud exercitation ullamco.</p>


                        <div id="" style="overflow:auto; height:400px;">
                          <div class="container">
                            <img src="images/findx.jpg" alt="Avatar" class="w3-card-4">
                            <p>Hello. How are you today?</p>
                            <span class="time-right">11:00</span>
                          </div>

                          <div class="container darker">
                            <img src="images/findx.jpg" alt="Avatar" class="right w3-card-4">
                            <p>Hey! I'm fine. Thanks for asking!</p>
                            <span class="time-left">11:01</span>
                          </div>

                          <div class="container">
                            <img src="images/findx.jpg" alt="Avatar" class="w3-card-4">
                            <p>Sweet! So, what do you wanna do today?</p>
                            <span class="time-right">11:02</span>
                          </div>

                          <div class="container darker">
                            <img src="images/findx.jpg" alt="Avatar" class="right w3-card-4">
                            <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
                            <span class="time-left">11:05</span>
                          </div>
                        </div>
                        

                        <div id="myForm">
                          <form action="/action_page.php" class="form-container">
                            <h1>Chat</h1>
                            <label for="msg"><b>Message</b></label>
                            <textarea placeholder="Type message.." name="msg" required></textarea>
                            <button type="submit" class="btn">Send</button>
                          </form>
                        </div>

                      </body>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w3-col m4 w3-hide-small">
                <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">24</span></span></p>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <!-- Blog entry -->
        <div class="w3-card-4 w3-margin w3-white">
          <img src="images/xs-gaming.jpg" alt="Norway" style="width:100%">
          <div class="w3-container">
            <h3><b>This phone is a Beast !!!</b></h3>
            <h5><span class="w3-opacity">jan 3, 2019</span></h5>
          </div>

          <div class="w3-container">
            <p>Just bought a brand new iphone Xs and everything is wonderful.</p>
            <div class="w3-row">
              <div class="w3-col m8 s12">
                <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
              </div>
              <div class="w3-col m4 w3-hide-small">
                <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">150</span></span></p>
              </div>
            </div>
          </div>
        </div>
        <!-- END BLOG ENTRIES -->
      </div>

      <!-- Introduction menu -->
      <div class="w3-col l4">
        <!-- About Card -->
        <div class="w3-card w3-margin w3-margin-top">
          <img src="images/feedback.jpg" style="width:100%">
          <div class="w3-container w3-white">
            <h4><b>Your thinking about this product is the most valuable thing to us <3</b> </h4> <input type="checkbox"
                  name="pricing">is it expensive ?<br>
                  <input type="checkbox" name="pricing">is it fast ?<br>
                  <input type="checkbox" name="pricing">is it heavy ?<br>
                  <input type="checkbox" name="pricing">is it thin ?<br>
                  <button class="w3-button w3-black w3-padding-large w3-margin-bottom">OK</button>
          </div>
        </div>
        <hr>

        <!-- popular -->
        <div class="w3-card w3-margin">
          <div class="w3-container w3-padding">
            <h4>Popular</h4>
          </div>
          <ul class="w3-ul w3-hoverable w3-white">
            <li class="w3-padding-16">
              <img src="images/xs-gaming.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">This phone is a Beast !!!</span><br>
              <span>jan 3, 2019</span>
            </li>
            <li class="w3-padding-16">
              <img src="images/xs-water.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Waterproof ?</span><br>
              <span>Nov 32, 2017</span>
            </li>
            <li class="w3-padding-16">
              <img src="images/1000dollar.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">It's so expensive, Tim Cook</span><br>
              <span>Nov 1, 2018</span>
            </li>
            <li class="w3-padding-16 w3-hide-medium w3-hide-small">
              <img src="images/findx.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">I rather use Oppo Find X</span><br>
              <span>jan 8, 2019</span>
            </li>
          </ul>
        </div>
        <hr>

        <!-- Labels / tags -->
        <div class="w3-card w3-margin">
          <div class="w3-container w3-padding">
            <h4>Tags</h4>
          </div>
          <div class="w3-container w3-white">
            <p><span class="w3-tag w3-black w3-margin-bottom">iphone Xs</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">iphone</span>
              <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Apple</span>
              <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">iphone
                X</span>
              <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Apple
                iphone</span>
              <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">iphone
                Xs Max</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
              <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
            </p>
          </div>
        </div>

        <!-- END Introduction Menu -->
      </div>

      <!-- END GRID -->
    </div><br>

    <!-- END w3-content -->
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
    <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
    <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
  </footer>
  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
  </script>
</body>
</html>