<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script>
$(function() {
 
  $(".heart").on("click", function() {
    $(this).toggleClass("heart-blast");
  });
}); 
 
</script> 

<title>iPhone Xs</title>
</head>
<body class="w3-white">
<!-- Optional JavaScript --> 
<!-- jQuery first, then Popper.js, then Bootstrap JS --> 
<script src="js/jquery-3.3.1.slim.min.js"></script> 
<script src="js/popper.min.js" ></script> 
<script src="js/bootstrap.min.js" ></script>
<div class="w3-top">
  <div class="w3-bar w3-card  ">
	<a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"></a>
    <div class="w3-dropdown-hover ">
      <button class="w3-padding-medium w3-button " title="More"><img src="images/apple.png" width="30" height="30"><i class="fa fa-caret-down w3-margin-left "></i> </button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4"> 
          <a href="#" class="w3-bar-item w3-button"><img src="../images/lg.png" width="32" height="32"></a> 
          <a href="#" class="w3-bar-item w3-button"><img src="../images/oppo.png" width="32" height="32"></a>
          <a href="#" class="w3-bar-item w3-button"><img src="../images/samsung.png" width="32" height="32"></a> 
          <a href="#" class="w3-bar-item w3-button"><img src="../images/xiaomi.png" width="32" height="32"></a> 
          <a href="#" class="w3-bar-item w3-button"><img src="../images/sony.png" width="30" height="30"></a> 
      </div>
    </div>
    <div class="w3-dropdown-hover ">
      <button class="w3-padding-large w3-button" title="More">iPhone Xs <i class="fa fa-caret-down"></i> </button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4"> <a href="#" class="w3-bar-item w3-button">iPhone X</a> <a href="#" class="w3-bar-item w3-button">iPhone 8</a> <a href="#" class="w3-bar-item w3-button">iPhone 7</a> </div>
    </div>
    <a href="#" class="w3-bar-item w3-button w3-right w3-hide-small  w3-margin-right">Home</a> 
	<a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-margin-right">Tech specs</a>
	<a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-margin-right">Overview</a> 
   </div>
   
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px"> <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a> <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR</a> <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a> <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a> </div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          	<div class="icon-navi" id="navi">
                <a  href="../../Forum page/index.html"  >
                    <img src="images/comments.png" width="35" height="35" ></a>
        	</div>
            <div class="icon-navi" id="navi2">
                <a href="../Homepage/index.html" > 
                    <img src="images/eye.png" width="35" height="35" > </a>
         	</div>
            <div class="icon-navi" id="navi3">
                <a  href="../Forum page/index.html"  >
                    <img src="images/edit.png" width="35" height="35" ></a>
          	</div>
           
             
          	
        </div>
        <div class="col" >
          <div class="col w3-padding-small "> 
          <div> 
        	<div id="slogan"> Welcome to the big screens</div>
          	<text id="price">From 1000$ </text>
          </div>
          <img class="mySlides" id="phone" src="images/iphone-xs-gold-400x460.png" width="400" height="460">
          </div>
         	
        </div>
      </div>
    </div>
    <div class="col w3-padding-16 w3-card-4 w3-light-gray ">
     
        <div class="mySlide  "  >
          <div id="title" >Innovation </div>
          <div id="content">
            <p>Same. But different. And yet the same. The iPhones are masters at being that, especially the S series. What Apple obviously can't do is come up with clever names. Worse, the XS may as well go down in history as the worst labeled phone ever. Two letters but one is a Roman numeral. What could go wrong?</p>
            <p> The iPhone XS is here, like it or not. And it's the best iPhone ever made if anyone had doubts that Apple will make a worse device this year. It's the fastest, the prettiest, the sturdiest, the most luxurious, the most skilled, the most expensive. And yet, it's the same iPhone. But you can buy it in golden color now, so people could know it's different. </p>
           
          </div>
        </div>
        <div class="mySlide" >
          <div  id="title" >Hardware </div>
          <div  id="content">
            <div class="row">
              <div class="col">
                <p class="font-weight-bold"> OS-CPU </p>
                <div> OS: iOS 12 </div>
                <div> Chipset:	Apple A12 Bionic 6 cores </div>
                <div> GPU:	Apple GPU 4 cores </div>
                <p></p>
                <p class="font-weight-bold"> battery + storage </p>
                <div> Battery: Non-removable Li-Ion 2658 mAh </div>
                <div> Chipset:	Apple A12 Bionic 6 cores </div>
                <div> GPU:	Apple GPU 4 cores </div>
              </div>
              <div class="col">
                <p class="font-weight-bold">Camera</p>
                <div> Main Camera: Dual 12 MP, f/1.8 + 12 MP, f/2.4 </div>
                <div> Selfie Camera:7 MP, f/2.2 </div>
                <p></p>
                <p class="font-weight-bold"> OS-CPU </p>
                <div> OS: iOS 12 </div>
                <div> Chipset:	Apple A12 Bionic 6 cores </div>
                <div> GPU:	Apple GPU 4 cores </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mySlide" >
          <div class="card" >ca </div>
        </div>
        <div class="mySlide" >
          <div class="card" >da </div>
        </div>
     
      <script>
                    var slideIndex = 1;
                    showDivs(slideIndex);
                    
                    function plusDivs(n) {
                      showDivs(slideIndex += n);
                    }
                    
                    function showDivs(n) {
                      var i;
                      var x = document.getElementsByClassName("mySlide");
                      if (n > x.length) {slideIndex = 1}
                      if (n < 1) {slideIndex = x.length}
                      for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";  
                      }
                      x[slideIndex-1].style.display = "block";  
                    }
                    </script> 
    </div>
  </div>
</div>
<!--end of container!-->

<div>
  <div class="heart"></div>
  <button class="w3-button w3-black myButton1" onclick="plusDivs(-1)" >&#10094;</button>
  <button class="w3-button w3-black myButton2 " onclick="plusDivs(1)">&#10095;</button>
</div>
<footer class="w3-container w3-dark-grey intro w3-padding-16 ">
      <div class="row">
        <div class="col">
            <img  src="images/logo@2x.png" width="428" height="88"> 
        </div>
        <div class="col" >
            <h1> Group 7 </h1>
            <div class="name">
                <div> Nguyễn Minh Trí </div>
                <div> Hứa Hưng Thịnh </div>
                <div> Bùi Thị Mỹ Tiên </div>
            </div>
        </div>
       </div>
</footer>

</body>

</html>
