<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="layoutstyle.css">
    <title>Hello, world!</title>
  </head>
  <body>
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js" ></script>
    <script src="js/bootstrap.min.js" ></script>
    <div id="name"> 
   	<img id="icon" src="images/apple.png" width="40" height="40"> Iphone Xs </div>   
  <div id="overview">
 	 OVERVIEW
  </div>
    <div class="container">
    
  		<div class="row">
   		  <div class="col"> 
               
  				<div class="row">
    				<div class="col"> 
                    	
                            <div id="navi">
                                <img src="images/comments.png" width="60" height="60">                      
                            </div>
                            <div id="navi2">
                                <img src="images/eye.png" width="64" height="64"> 
                            </div>
                            <div id="navi3">
                                <img src="images/edit.png" width="64" height="64"> 
                            </div>
                        
                  </div>
               		<div class="col"> 
                    
                          <div class="w3-content w3-section" style="max-width:500px">
                                <img class="mySlides" id="phone" src="images/iphone-xs-gold-400x460.png" width="400" height="460"> 
                          		<img class="mySlides" id="phone" src="images/IpXs1.png" width="550" height="460">                            
                          		<img class="mySlides" id="phone" src="images/IpXs3.PNG" width="500" height="460"> 
                           </div>
                                
                      <script>
                                var myIndex = 0;
                                carousel();
                                
                                function carousel() {
                                  var i;
                                  var x = document.getElementsByClassName("mySlides");
                                  for (i = 0; i < x.length; i++) {
                                    x[i].style.display = "none";  
                                  }
                                  myIndex++;
                                  if (myIndex > x.length) {myIndex = 1}    
                                  x[myIndex-1].style.display = "block";  
                                  setTimeout(carousel, 2000); // Change image every 2 seconds
                                }
                                </script>

                    	<div class="card">
                        	<div class="card-body">                            	
                 				               			
                            </div>
                        </div>
                    	
                    </div>
          		</div>
          
          
          	</div>

         
   		  <div class="col">    

         <div class="w3-content w3-display-container">
                      <div class="mySlide" >
                      			
                                <div class="card-body" id="title" >Innovation </div>
                                     <div class="card-body" id="content">
                                          <p>Same. But different. And yet the same. The iPhones are masters at being that, especially the S series. What Apple obviously can't do is come up with clever names. Worse, the XS may as well go down in history as the worst labeled phone ever. Two letters but one is a Roman numeral. What could go wrong?</p>
                                        <p>
                        The iPhone XS is here, like it or not. And it's the best iPhone ever made if anyone had doubts that Apple will make a worse device this year. It's the fastest, the prettiest, the sturdiest, the most luxurious, the most skilled, the most expensive. And yet, it's the same iPhone. But you can buy it in golden color now, so people could know it's different.
                                        </p>
                                    </div> 
                      
                      
                      </div>
  					  <div class="mySlide" ><div class="card" >b </div> </div>
                      <div class="mySlide" ><div class="card" >ca </div> </div>
                      <div class="mySlide" ><div class="card" >da </div> </div>
                      <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                      <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
          </div>
                    
                    <script>
                    var slideIndex = 1;
                    showDivs(slideIndex);
                    
                    function plusDivs(n) {
                      showDivs(slideIndex += n);
                    }
                    
                    function showDivs(n) {
                      var i;
                      var x = document.getElementsByClassName("mySlide");
                      if (n > x.length) {slideIndex = 1}
                      if (n < 1) {slideIndex = x.length}
                      for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";  
                      }
                      x[slideIndex-1].style.display = "block";  
                    }
                    </script>
          
          			 
            
  		
        		 
		  </div>
   		</div>
    </div>
  
                
  </body>
</html>
 
 <!--  <div class="card-body" id="title" >Innovation </div>
                                     <div class="card-body" id="content">
                                          <p>Same. But different. And yet the same. The iPhones are masters at being that, especially the S series. What Apple obviously can't do is come up with clever names. Worse, the XS may as well go down in history as the worst labeled phone ever. Two letters but one is a Roman numeral. What could go wrong?</p>
                                        <p>
                        The iPhone XS is here, like it or not. And it's the best iPhone ever made if anyone had doubts that Apple will make a worse device this year. It's the fastest, the prettiest, the sturdiest, the most luxurious, the most skilled, the most expensive. And yet, it's the same iPhone. But you can buy it in golden color now, so people could know it's different.
                                        </p>
                                    </div> 