body {
    font-family: 'Open Sans', sans-serif
}

.mySlides {
    display: none;
    position: relative;
    padding-top: 0px;
}

.center {
    position: absolute;
    color: white;
    right: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    padding-top: 50px
}

.right {
    position: absolute;
    color: black;
    right: 0;
    top: 50%;
    padding-right: 50px;
    text-align: center;
}

.bubbleChart {
    min-width: 100px;
    max-width: 700px;
    height: 600px;
    margin: 0 auto;
}

.bubbleChart svg {
    background: black;
    filter: alpha(opacity=0);
}

body {
    background: black;
}

.crop {
    height: 300px;
    overflow: hidden;
}

.crop img {
    height: 100%;
    width: auto;
}

.mySlides img {
    width: 100%;
    height: 600px;
    object-fit: cover;

}

.w3-input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background: #000000;
    color: white;
}

#navlarge #navDemo {
    color: white;
}
.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.post-container {
    position: relative;
    width: 100%;
  }

.post-container:hover .middle {
    opacity: 1;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.post-container:hover .image {
    opacity: 0.3;
}
 .name{
	margin-left:50px;
	font-size:14px;
}
.intro{
	margin-top:90px;
	background:red;
}

