<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../../Reviewpage/iPhone Xs/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="shortcut icon" type="images/x-icon" href="images/ic_launcher.png" />


<!-- Bootstrap CSS for collapse -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>


<title>About iphone Xs</title>

</head>
<body>

    <div id="black-top">
        
          <h1 id="title">iphone Xs</h1>

    </div>

    <!-- image container -->
    <div id="container-overview">
              <img src="images/xs.jpg" style="max-width:100%;height:auto;">
        </div>


        <!-- basic info -->
          <div class="detail-specs">
                  <div class="content">
                    <div class="text-container">
                      <h2 class="detail-title" data-text="+" data-toggle="collapse" data-target="#coll">Basic parameters +</h2>
                      <div class="item-box collapse" id="coll">
                        <div class="detail-item-1" id="param-text">
                          <h3>Dimensions</h3>
                          <p>157.5 x 74.8 x 8.2 mm</p>
                          <h3>Weight</h3>
                          
                         <p>6.5 ounces (185 g)</p>
                          <h3>Material</h3>
                          <p>Glass</p>
                          <h3>Colors</h3>
                          <p>Mirror Black / Midnight Black</p>
                          <h3>Operating System</h3>
                          <p>OxygenOS based on Android™ Pie</p>
                          <h3>CPU</h3>
                          <p>Qualcomm<sup>®</sup> Snapdragon<sup>™</sup> 845 <br>(Octa-core, 10nm, up to 2.8 GHz), <br>within AIE</p>
                          <h3>GPU</h3>
                          <p>Adreno 630</p>
                          <h3>Vibration</h3>
                          <p>Haptic vibration motor</p>
                        </div>
                        <div class="detail-item-2">
                          <h3>RAM</h3>
                          <p>6 GB / 8 GB / 10 GB LPDDR4X</p>
                          <h3>Storage</h3>
                          <p>128 GB / 256 GB UFS 2.1 2-LANE</p>
                          <h3>Sensors</h3>
                          <p>In-display Fingerprint Sensor, Hall, Accelerometer, Gyroscope, Proximity, RGB Ambient Light Sensor, Electronic Compass, Sensor Core</p>
                          <h3>Ports</h3>
                          <p>
                            USB 2.0, Type-C, Support standard USB<br>
                            Type-C Earphone, Dual Nano SIM Slot<br>
                          </p>
                          <h3>Battery</h3>
                          <p>
                            3700 mAh (non-removable)
                            Fast Charging (5V 4A)
                          </p>
                          <h3>Buttons</h3>
                          <p>
                            Gestures and on-screen navigation support Alert Slider
                          </p>
                          <h3>Audio</h3>
                          <p>
                            Bottom-facing speaker<br>
                            Noise cancellation support<br>
                            Dirac HD Sound<sup>®</sup><br>
                            Dirac Power Sound<sup>®</sup>
                          </p>
                          <h3>Unlock Options</h3>
                          <p>
                            In-display Fingerprint Sensor<br>
                            Face Unlock
                          </p>
                        </div>
                </div>
  
                <div class="detail-specs2">
                  
                  <div class="content">
                    <div class="text-container">
                      <h2 class="detail-title" data-toggle="collapse" data-target="#coll2" data-text="+">Connectivity +</h2>
                      <div class="item-box collapse" id="coll2">
                        <div class="detail-item-1">
                          <h3>LTE/LTE-A</h3>
                          <p>
                            DL 5CA/256QAM, UL CA/64QAM,<br> 4x4 MIMO<br>
                            Supports up to DL CAT16/ UL CAT13<br> (1Gbps/150 Mbps) depending<br> on carrier support
                          </p>
                          <h3>Bands</h3>
                            <p>
                                    FDD LTE: <br>Band 1/2/3/4/5/7/8/12/13/17/18/ <br> 19/20/25/26/28/29/30/32/66/71<br>
                                    TDD LTE: <br>Band 34/38/39/40/41/46<br>
                                    TD-SCDMA: Band 34/39<br> 
                                    UMTS(WCDMA): Band 1/2/4/5/8/9/19<br>
                                    CDMA: BC0/BC1<br> 
                                    GSM: 850/900/1800/1900 MHz
                            </p>
                          <p><a class="link-action" @click="showCarrierDialog" track-data="6T_product_Check_carrier_compatibility">Check carrier compatibility</a></p>
                          <h3>Wi-Fi</h3>
                          <p>2x2 MIMO, Wi-Fi 802.11 a/b/g/n/ac,<br> 2.4G/5G</p>
                          <h3>Bluetooth</h3>
                          <p>Bluetooth 5.0, support aptX and aptX HD</p>
                          <h3>NFC</h3>
                          <p>
                            NFC enabled
                          </p>
                          <p><br><br><br>
                          </p>
                        </div>
                        <div class="detail-item-2-3">
                          <h3>Display</h3>
                          
                          <p>6.41 inches (The corners of the screen are within a standard rectangle. Measured diagonally, the screen size is 6.41 inches in the full rectangle and 6.24 inches accounting for the rounded corners)<br></p>
                          <h3>Resolution</h3>
                          <p>2340 x 1080 pixels 402 ppi</p>
                          <h3>Aspect Ratio</h3>
                          <p>19.5:9</p>
                          <h3>Type</h3>
                          <p>Optic AMOLED (Support sRGB, DCI-P3)</p>
                          <h3>Cover Glass</h3>
                          <p>2.5D Corning® Gorilla® Glass 6</p>
                          <h3>Features</h3>
                          <p>
                            Adaptive Mode<br>
                            Reading Mode<br>
                            Night Mode<br>
                            Lift Up Display
                          </p>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
  
                <div class="detail-specs2">
                  <div class="content">
                    <div class="text-container">
                      <h2 class="detail-title" data-toggle="collapse" data-target="#coll3" data-text="+">Camera +</h2>
                      <div class="item-box collapse" id="coll3">
                        <div class="detail-item-1">
                          <h3>Rear Camera - Main</h3>
                          <p>
                            Sensor: Sony IMX 519<br>
                            Megapixels: 16<br>
                            Pixel Size: 1.22 µm<br> 
                            OIS: Yes<br>
                            EIS: Yes<br>
                            Autofocus: PDAF<br>
                            Aperture: f/1.7
                          </p>
                          <h3>Rear Camera - Secondary</h3>
                          <p>
                            Sensor: Sony IMX 376K<br>
                            Megapixels: 20<br>
                            Pixel Size: 1.0 µm<br>
                            Autofocus: PDAF<br>
                            Aperture: f/1.7
                          </p>
                        </div>
                        <div class="detail-item-2-4">
                          <h3>Flash</h3>
                          <p>
                            Dual LED Flash
                          </p>
                          <h3>Video</h3>
                          <p>
                            4K resolution video at 30/60 fps<br>
                            1080P resolution video at 30/60 fps<br>
                            720P resolution video at 30 fps
                          </p>
                          <h3>Super Slow Motion</h3>
                          <p>1080p video at 240 fps<br>
                            720p video at 480 fps
                          </p>
                          <h3>Features</h3>
                          <p>
                            AI Scene Detection, Portrait Mode, Pro Mode, Night Mode, Panorama, Time-Lapse, HDR, HQ, Studio Lighting, RAW Image
                          </p>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
  
                <div class="detail-specs2">                  
                  <div class="content">
                    <div class="text-container">
                      <h2 class="detail-title" data-toggle="collapse" data-target="#coll4" data-text="+">Front Camera +</h2>
                      <div class="item-box collapse" id="coll4">
                        <div class="detail-item-1">
                          <h3>Front Camera</h3>
                          <p>
                            Sensor: Sony IMX 371<br> 
                            Megapixels: 16<br>
                            Pixel Size: 1.0 µm<br>
                            EIS: Yes<br>
                            Autofocus: Fixed Focus<br>
                            Aperture: f/2.0
                          </p>
                          
                        </div>
                        <div class="detail-item-2-5">
                          <h3>Video</h3>
                          <p>
                            1080P resolution video at 30 fps<br>
                            720P resolution video at 30 fps
                          </p>
                          <h3>Features</h3>
                          <p>Portrait Mode, HDR, Screen Flash, Studio Lighting, Smile Capture, Face Retouching</p>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
  
                <div class="detail-specs2">
                  
                  <div class="content">
                    <div class="text-container">
                      <h2 class="detail-title" data-toggle="collapse" data-target="#coll5" data-text="+">Multimedia +</h2>
                      <div class="item-box collapse" id="coll5">
                        <div class="detail-item-1">
                          <h3>Audio Supported Formats</h3>
                          <p>
                            MP3, AAC, AAC+, WMA, AMR-NB,<br> AMR-WB, WAV, FLAC, APE,<br> OGG, MID, M4A, IMY<br>
                            Recording: WAV, AAC, AMR
                          </p>
                          <h3>Video Supported Formats</h3>
                          <p>
                            Playback: MKV, MOV, MP4, H.265(HEVC), AVI, WMV, TS, 3GP, FLV, WEBM<br>
                            Recording: MP4
                          </p>
                        </div>
                        <div class="detail-item-2-6">
                          <h3>Image Supported Formats</h3>
                          <p>
                            Playback: JPEG, PNG, BMP, GIF<br>
                            Output: JPEG, PNG
                            <br><br><br><br>
                          </p>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
  
                <div class="detail-specs2">
                  <div class="content">
                    <div class="text-container">
                      <h2 class="detail-title" data-toggle="collapse" data-target="#coll6" data-text="+">In the box +</h2>
                      <div class="item-box collapse" id="coll6">
                        <div class="detail-item-1-2">
                          <p>
                            1x OnePlus 6T<br>
                            1x Screen Protector (pre-applied)<br>
                            1x Case<br>
                            1x OnePlus Fast Charge Type-C Cable<br>
                            1x OnePlus Fast Charge Power Adapter<br>
                            1x SIM Tray Ejector<br>
                            1x Welcome Letter<br>
                            1x Quick Start Guide / Poster<br>
                            1x Safety Information<br>
                            1x Type-C to 3.5 mm Headphone Jack Adapter<br>
                            
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        
              </div>
            </div>
          </div>
        </div>
      </section>
    </body>
    </html>